<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Applications</title>
</head>

<body>

    <div class = "webApps">
    <h2>Web apps</h2>
    <p>Applications made from Java, Springboot, and mySQL</p>
    <a href="webApps">continue to web applications</a>
    </div>

<h2>Musicians Paradise</h2>
<p>Online music store that includes Spring Security.</p>
<a href="musiciansparadise">shop</a>

<h2>Calculator</h2>
<p>Calculator GUI made using Java</p>
<a href="calculator">demo</a>
<h2></h2>

</body>
</html>